@page "/SendDataToMachine/{MachineId:int}"

@rendermode InteractiveServer
@if(Machine!= null)
{

            <div >
                <h2>Send Data To @Machine.Name</h2>
            </div>
            <div >
                <div class="col row">
                    <div class="col-12 col-sm-8">
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Device ID</label>
                            <div class="col-sm-7">
                                <label type="text" class="form-control-plaintext">@Machine.Id</label>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Device</label>
                            <div class="col-sm-7">
                                <label type="text" readonly class="form-control-plaintext">@Machine.Name </label>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label">Data</label>
                            <div class="col-sm-7">
                                <input type="text" @bind="data" />
                            </div>
                        </div>

                        <div class="form-group row">
                        </div>

                    </div>
                </div>
                <button type="button" class="btn btn-outline-primary"  @onclick="@UpdateLatestData" >Send</button>
            </div>
      
}











































































